name: audit

permissions:
  actions: read
  contents: read

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  audit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        directory:
          - assets
          - processor

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.0'

      - name: Run npm audit
        run: npm audit
        working-directory: ${{ matrix.directory }}
