name: build

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - '**'

jobs:
  build-processor:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        directory:
          - assets
          - processor

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'

      - name: Install dependencies
        run: npm ci
        working-directory: ${{ matrix.directory }}

      - name: Run ESLint check
        run: npm run lint
        working-directory: ${{ matrix.directory }}

      - name: Run Prettier check
        run: npm run prettier:check
        working-directory: ${{ matrix.directory }}

      - name: Build project
        run: npm run build
        working-directory: ${{ matrix.directory }}